.idea
visdialch/decoders/gen.py
rank_effect_vis.py
timed_task.sh
val_ranks.json
example_data.json
visdialch/encoders/ic_hist_late_fusion.py
visdialch/encoders/ic_hist_ques_fusion.py
visdialch/encoders/ic_ques_hist_fusion.py
visdialch/encoders/iminic_ques_hist_fusion.py
scripts/ic_hist_late_fusion_disc_eval.sh
scripts/ic_hist_late_fusion_disc_train.sh
scripts/ic_hist_ques_fusion_disc_eval.sh
scripts/ic_hist_ques_fusion_disc_train.sh
scripts/ic_ques_hist_fusion_disc_eval.sh
scripts/ic_ques_hist_fusion_disc_train.sh
scripts/iminic_ques_hist_fusion_disc_eval.sh
scripts/iminic_ques_hist_fusion_disc_train.sh
scripts/test.sh
configs/ic_hist_late_fusion_disc_eval.yaml
configs/ic_hist_late_fusion_disc_train.yaml
configs/ic_hist_ques_fusion_disc_eval.yaml
configs/ic_hist_ques_fusion_disc_train.yaml
configs/ic_ques_hist_fusion_disc_eval.yaml
configs/ic_ques_hist_fusion_disc_train.yaml
configs/iminic_ques_hist_fusion_disc_eval.yaml
configs/iminic_ques_hist_fusion_disc_train.yaml
checkpoints/
attention_map_vis/data
attention_map_vis/question.json
attention_map_vis/question.txt
attention_map_vis/tmp.png
exps/
results/